/*Header*/
.navbar-brand {
	width: 60px;
	vertical-align: middle;
}
.navbar-brand span {
	margin-left: 1em;
}
#logoText {
	font-size: 1.5em;
	font-weight: bold;
}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-nav {
	position: absolute;
	right: 16px;
}
.dropdown-menu {
	position: absolute;
	left: -80px;
	border: 1px solid #ffffff;
	background: #1484e6 url("images/ui-bg_white-lines_22_1484e6_40x100.png") 50% 50% repeat;
}
.dropdown-item {
	font-weight: bold;
	color: #ffffff !important;
}
.dropdown-item:hover {
	border: 1px solid #2293f7;
	font-weight: bold;
	color: #ffffff !important;
	background: #e69700 url("images/ui-bg_white-lines_20_e69700_40x100.png") 50% 50% repeat;
}
.my-button:hover {
	border: 1px solid #2293f7;
	background: #2293f7 url("images/ui-bg_white-lines_30_2293f7_40x100.png") 50% 50% repeat;
	font-weight: bold;
	color: #ffffff;
}
.navbar {
	z-index: 3;
}

/* Main content starts here*/
#mainContent {
	margin: 0;
	padding: 0;
	background-image: url("../project-images/background_2.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
#calendar-col {
	text-align: center;
}
.instructions {
	margin: 15px 0 15px 0;
	font-size: 1.5rem;
	color: #2c63aa;
	border: 1px solid #2c63aa;
	border-radius: 12px;
	padding: 7px 15px;
	box-sizing: content-box;
	display: inline-block;
	text-align: center;
	background: rgba(255, 255, 255, 0.3);
}
.hasDatepicker {
	display: flex;
	justify-content: center;
}
td.ui-datepicker-week-end > span {
	background: #0e5b9e !important;
}
td.ui-datepicker-week-end {
	opacity: 0.7 !important;
}
#menu {
	border: 1px solid #ffffff;
	background: #c5ddfc url("images/ui-bg_white-lines_25_c5ddfc_40x100.png") 50% 50% repeat;
	color: #333333;
	font-size: 1.1rem;
	z-index: 3;
}
#menu li ul {
	width: 13rem;
}
#menu a, .card a {
	text-decoration: none;
}
.sticky {
	position: fixed;
	width: 14rem;
	left: 15px;
	top: 0;
	z-index: 3;
	border-top: 0;
}
.sticky-menu {
	position: -webkit-sticky;}
}

.doc-name, .doc-description {
	text-align: center;
}

/*Footer starts here*/
footer {
	width: 100%;
	margin: -1px;
	bottom: 0;
	z-index: 1;
}
#footerMenu {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	list-style: none;
	padding: 0;
	margin: 15px 0 0 0;
}
#footerMenu a {
	text-decoration: none;
	padding: 0 7px;
	margin: 5px 20px;
}
footer > div:last-child {
	list-style: none;
	margin: 15px 10px 10px;
	font-size: 0.9rem;
	text-align: right;
}
#footerMenu a:hover {
	background: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 8px 10px rgba(255,255,255,0.7);
	-moz-box-shadow: 0px 0px 8px 10px rgba(255,255,255,0.7);
	box-shadow: 0px 0px 8px 10px rgba(255,255,255,0.7);
}

/*Responsive*/
@media (max-width: 399.98px) {
	.instructions {
		font-size: 1rem;
	}
	.hasDatepicker {
		font-size: 90%;
	}
	footer > div:last-child {
		text-align: center;
	}
	#footerMenu {
		display: block;
		text-align: center;
	}
	#footerMenu a {
		display: block;
	}
}

@media (min-width: 400px) and (max-width: 767.98px) {
	.instructions {
		font-size: 1.2rem;
	}
	.hasDatepicker {
		font-size: 120%;
	}
}

@media (max-width: 767.98px) {
	.full-width {
		padding: 0;
	}
	#logoText {
		font-size: 1.2em;
	}
	.personnel {
		width: 130px;
	}
	.doc-name {
		font-size: 0.7em;
		margin: 5px 0 0 0;
	}
	.doc-description {
		font-size: 0.6em;
		margin-bottom: 25px;
	}
	#menu {
		width: 100%;
		border-radius: 0;
		z-index: 3;
	}
	#menu li ul {
		position: absolute !important;
		left: 0 !important;
		top: 4.5rem !important;
		width: 100% !important;
		border-radius: 0 0 6px 6px;
		z-index: 3;
	}
	.sticky {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 3;
		border-top: 0;
	}
	#newsText {
		font-size: 1.2rem;
	}
	.card-title {
		font-size: 1.1rem;
	}
	.card-text {
		font-size: 0.9rem;
	}
	#doctors {
		display: flex;
		flex-flow: row wrap;
	}
	#ourTeamBackground {
		width: 100%;
		height: 2.7rem;
		background-color: #ffffff;
		opacity: 0.4;
		filter: blur(3px);
		z-index: 0;
		display: inline-block;
	}
	#ourTeam {
		width: 100%;
		text-align: center;
		margin-bottom: -1rem;
		font-size: 1.2rem;
		z-index: 1;
		display: inline-block;
		transform: translate(0, -120%);
	}
	.personnel {
		margin: 0.3rem;
	}
	#footerMenu a {
		font-size: 0.9rem;
	}
	footer div:last-child {
		font-size: 0.7rem;
	}
}

@media (min-width: 1061.98px) {
	#footerMenu div a {
		margin-top: 10px;
	}
}

@media (min-width: 768px) and (max-width: 1199.98px){
	.hasDatepicker {
		font-size: 145%;
	}
	#ourTeamBackground {
		width: 100%;
		height: 3.2rem;
		background-color: #ffffff;
		opacity: 0.4;
		filter: blur(3px);
		z-index: 0;
		display: inline-block;
		transform: translate(0, 30%);
	}
	#ourTeam {
		width: 100%;
		text-align: center;
		margin-bottom: -1rem;
		font-size: 1.2rem;
		z-index: 1;
		display: inline-block;
		transform: translate(0, -100%);
	}
	.personnel {
		width: 100%;
	}
	.doc-name {
		font-size: 0.8em;
		margin: 5px 0 0 0;
	}
	.doc-description {
		font-size: 0.7em;
		margin-bottom: 25px;
	}
}
@media (min-width: 1061.98px) {
	#footerMenu div a {
		margin-top: 10px;
	}
}
@media (min-width: 1200px) {
	.hasDatepicker {
		font-size: 185%;
	}
	#ourTeamBackground {
		width: 100%;
		height: 3.5rem;
		background-color: #ffffff;
		opacity: 0.4;
		filter: blur(3px);
		z-index: 0;
		display: inline-block;
		transform: translate(0, 30%);
	}
	#ourTeam {
		width: 100%;
		text-align: center;
		margin-bottom: -1rem;
		font-size: 1.7rem;
		z-index: 1;
		display: inline-block;
		transform: translate(0, -100%);
	}
	.personnel {
		width: 100%;
	}
	.doc-name {
		font-size: 0.9em;
		margin: 5px 0 0 0;
	}
	.doc-description {
		font-size: 0.8em;
		margin-bottom: 25px;
	}
}

